@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");

.resNav {
  display: none;
}

.humBtnDiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.humBtn {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.humBtn::before,
.humBtn::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.humBtn::before {
  transform: translateY(-12px);
}
.humBtn::after {
  transform: translateY(12px);
}

.humBtnDiv.open .humBtn {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.humBtnDiv.open .humBtn::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.humBtnDiv.open .humBtn::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.Linklist {
  list-style-type: none;
  text-decoration: none;
}
.Link {
  color: white;
  text-decoration: none;
}
.Links {
  border-radius: 12px;

  font-size: 15px;
  text-transform: uppercase;
  color: white;

  line-height: 50px;
  position: relative;
  z-index: 1;
  background: #34495e;
  text-align: center;
  margin-top: 20px;
}

.Link1:hover {
  background: #1abc9c;
}
.Link2:hover {
  background: #1abc9c;
}

.Link3:hover {
  background: #1abc9c;
}

.Link4:hover {
  background: #1abc9c;
}

.Link1 {
  width: 130px;
}

.Link2 {
  width: 130px;
}

.Link3 {
  width: 130px;
}

.Link4 {
  width: 130px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  pointer-events: auto;
  background-color: #343a40 !important;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.nav {
  position: relative;
  margin-left: auto;
  width: 470;
  height: 50px;
  background: #34495e;
  border-radius: 8px;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.brand {
  font-family: "Dancing Script", cursive;
  color: wheat;
  font-size: 30px;
}

.nav .navLink {
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
}

.nav .animation {
  position: absolute;
  height: 100%;
  /* height: 5px; */
  top: 0;
  /* bottom: 0; */
  z-index: 0;
  background: #1abc9c;
  border-radius: 8px;
  transition: all 0.5s ease 0s;
}

nav .navbar__link--active {
  background: #1abc9c;
  border-radius: 8px;
  transition: all 0.5s ease 0s;
  top: 0;
  height: 100%;
}

.nav .navLink1 {
  width: 100px;
}

.navLink1:hover ~ .animation {
  width: 100px;
  left: 0;
}
nav .navLink2 {
  width: 110px;
}
nav .navLink2:hover ~ .animation {
  width: 110px;
  left: 100px;
}

nav .navLink3 {
  width: 100px;
}
nav .navLink3:hover ~ .animation {
  width: 100px;
  left: 210px;
}
nav .navLink4 {
  width: 160px;
}
nav .navLink4:hover ~ .animation {
  width: 160px;
  left: 310px;
}

nav .navLink5 {
  width: 110px;
}
nav .navLink5:hover ~ .animation {
  width: 110x;
  left: 470px;
}
.useIcon {
  margin-right: 84px;
}

.useIcon .icon {
  color: antiquewhite;
}

/* --------carousel--------- */

.carouselSec {
  background: black;
  overflow: hidden;
}

.carousel {
  position: relative;
  width: 100%;
}

.crslsec1btn {
  width: 163px;
  height: 50px;

  font-size: 23px;
  font-weight: 600;
  background: yellow;
  border-bottom-left-radius: 20px;
}

.crslsec1btn:hover {
  background: whitesmoke;
  color: black;
}

.fronSec1 {
  background-size: contain;
}

.frontImg {
  width: 100%;
}

.sec1Tittle {
  width: 75%;

  margin-top: 19px;
  padding: 52px;
  text-align: center;
}

.slidertitle {
  font-family: "Sacramento", cursive;
  font-weight: bold;
}

.S1 {
  font-family: "Sacramento", cursive;

  font-weight: bold;
  font-size: 56px;
  color: aliceblue;
}

.S2 {
  /* font-family: "Oswald", sans-serif; */
  font-family: "Sacramento", cursive;

  font-weight: bold;
  font-size: 56px;
  color: aliceblue;
}

.S3 {
  /* font-family: "Oswald", sans-serif; */
  font-family: "Sacramento", cursive;
  margin-left: 24px;
  font-weight: bold;
  font-size: 54px;
  color: aliceblue;
}

.S4 {
  /* font-family: "Oswald", sans-serif; */
  font-family: "Sacramento", cursive;
  font-weight: bold;
  font-size: 81px;
  color: aliceblue;
}

/* .frontSec2 {
  top: -288px;
  position: relative;
} */

.sec2 {
  width: 100%;
  background: linear-gradient(45deg, transparent 50%, #2d0707 50%);
}

.Sec2text {
  font-family: "Sacramento", cursive;

  margin-top: 96px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 56px;
  color: aliceblue;
  width: 334px;
}

.sec2btn {
  width: 110px;
  height: 50px;
  margin-left: 136px;
  font-size: 25px;
  font-weight: 600;
  background: yellow;
  border-bottom-left-radius: 20px;
}

.sec2btn:hover {
  background: whitesmoke;
  color: black;
}
.T1 {
}

.T2 {
  margin-left: 23px;
  font-size: 58px;
}

.T3 {
  margin-left: 126px;
  font-size: 70px;
}

.T4 {
  margin-left: 70px;
  font-size: 61px;
}

/* .Sec2text {
  width: 50%;
} */

.sec2img {
  margin-left: 70px;
}

.sec3img {
  margin-top: 73px;
  margin-bottom: 60px;
  position: relative;
  border: 8px solid black;
}

/* .sec3img::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.7rem;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid var(--mainYellow);
  z-index: -1;
  transition: all 1s ease-in-out;
} */
.sec3img:hover {
  top: 0;
  left: 0;
}

.sec3img img {
  width: 100%;
}

.sec3title {
}

.productBackground {
  background: brown;
}

.productPrice {
  border: 1px solid;
  background: #1b3b3c;
  padding: 3px;
  height: 30px;
  width: 38px;
  border-radius: 11px;
  box-shadow: 3px 2px 0px black;
}

.productPrice p {
  color: whitesmoke;
}

.categoryDiv {
  height: 100vh;
}

.categoryBackground {
  background: rgb(7, 22, 1);
}

.cart {
  min-height: 10rem;
  background: var(--mainWhite);
  transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.5);
  width: 0;
  overflow: hidden;
  width: 18rem;
  padding: 2rem 1.5rem;
  transform: rotateY(-360deg);
  top: 68px;
  right: 0px;
  position: absolute;
  z-index: 15 !important;
}

.cartBtn {
  background: mistyrose;
  margin-right: 20px;
}

.logOutbtn {
  background-color: #343a40 !important;
  border-radius: 12px;
  box-shadow: 0px 3px 10px;
}

.logOutbtn:hover {
  background: #1abc9c;
  color: white;
  box-shadow: 0px 3px 10px;
}

.reactCartIcon {
  margin-left: 5px;
}

.cartNum {
  margin-left: 4px;
}

.displayCart {
  display: block;
}

.cartItemsList {
  position: relative;
  left: -25px;
}

.cartTitlr {
  font-size: 13px;
}
.removeItems {
  margin-top: 35px;
  padding-left: 4px;
}
.notDisplayCart {
  display: none;
}
.cart-item {
  transition: all 2s ease-in-out;
}

.item-text {
  margin-left: 21px;
}

.cartItemImg {
  width: 28%;
}

/* end of cart */
/* cart item */
.cart-item-remove {
  color: var(--mainPink);
  transition: all 1s ease-in-out;
}
.cart-item-remove:hover {
  transform: scale(1.1);
  color: var(--mainBlack);
}
#cart-item-price {
  font-size: 0.8rem;
}
/* cart item */
/* cart buttons */
.btn-pink {
  color: var(--mainPink) !important;
  border-color: var(--mainPink) !important;
}
.btn-black {
  color: var(--mainBlack) !important;
  border-color: var(--mainBlack) !important;
}
.btn-black:hover {
  color: var(--mainPink) !important;
  background: var(--mainBlack) !important;
}
.btn-pink:hover {
  background: var(--mainPink) !important;
  color: var(--mainBlack) !important;
}

.store {
  background: var(--mainGrey);
}
.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.store-img {
  transition: all 1s ease-in-out;
}
.img-container:hover .store-img {
  transform: scale(1.2);
}

.store-item {
}
.store-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
  background: orange;
  border-top-left-radius: 1rem;
  transition: all 1s ease-in-out;
  transform: translate(100%, 100%);
}

.cartIcon {
  color: black;
}

.cartIcon:hover {
  color: whitesmoke;
}
.img-container:hover .store-item-icon {
  transform: translate(0, 0);
  border: 1px solid;
  border-top-left-radius: 27px;
}
.store-item-icon:hover {
  color: whitesmoke;
}

.addCartBtn {
  background: none;
  border-style: none;
}
.store-item-value {
  color: --mainYellow;
}

.categoryCard {
  width: 15rem;
  border-radius: 30px;
  background: black;
  color: whitesmoke;
  align-items: center;
  text-align: center;
  margin-left: 50px;
  margin-top: 32px;
}

.categoryBtn {
  color: crimson;
}

/* ------CHECKOUT----- */

.checkoutRow {
  margin-top: 13px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 500px;
  margin: auto;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th {
  padding: 12px 15px;
}

.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.chekout {
  background: bisque;
  /* position: relative;
  width: 730px;
  margin-left: 112px; */
}

.paymentBtn button {
  cursor: pointer;
  background: #195a36;
  padding: 8px;
  color: whitesmoke;

  margin-bottom: 10px;
  margin-left: 8px;
  border-radius: 10px;
}

.contact-section form .btn {
  width: 8.7rem;
  font-size: 14px;
  background: #e74c3c;
  border: 1px solid #e74c3c;
  color: #fff;
  box-shadow: 0px 5px 7px -3px #999;
  transition: 1s;
}
.contact-section form .btn:hover {
  background: transparent;
  border: 1px solid #e74c3c;
  color: #e74c3c;
  box-shadow: none;
}

/* .submit {
  width: 8.7rem;
  background: #e74c3c;
  border: 1px solid #e74c3c;
  color: #fff;
}

.placeOrderBtn {
  margin-top: 9px;
} */

.checkOutstraightLine {
  width: 19px;
  background: brown;
  margin-bottom: 70px;
  margin-top: 117px;
  margin-right: 27px;
}

.checkOutList {
  /* width: 805px; */
  /* margin-left: -18px; */
  padding: 1px;
}
.checkout-Item-Img {
  width: 8%;
  padding-left: 14px;
  margin-left: 112px;
}

/* .checkout-item-title {
  margin-right: 248px;
} */

.checkoutImg {
  display: inline-block;

  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 2px 6px #0003;
}
.checkoutremoveItems {
  height: 26px;
}

.Price {
  color: black;
}

.checkOutTotal {
  position: relative;
  padding: 6px;
  background: #1b351b;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 3px 3px black;
  margin-bottom: 17px;
}

.checkOutTotalPrice {
  position: relative;
  margin-top: 5px;
}

/* --------filter-------- */
.filter {
  padding: 2px;
}

.sortProdgender {
  border: 1px solid black;
  margin-right: 12px;
  border-radius: 20px;
  background: #005600;
  color: white;
}

.sortProdgender:hover {
  background: #2d0707;
  color: whitesmoke;
}

/* -------CONTACT-------- */

.contact-section {
  margin-bottom: 50px;
}

.contact-section form {
  padding: 60px 60px 40px 60px;
  background: #fff;
  position: relative;
  width: fit-content;
  border-radius: 3px;
  box-shadow: 0px 5px 7px -3px #999;
  font-family: "Open Sans", sans-serif;
}
.contact-section form .formcontrol {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #b3b3b3;
  border-radius: 0px;
}
::-webkit-input-placeholder {
  font-size: 12px;
}

.checkoutFormRow {
  margin-top: 19px;
}

.checkoutForm {
  margin-left: 35px;
  width: 380px;
  margin-top: 61px;
}

.checkoutGif {
  width: 85%;
  margin-left: 60px;
}

.orderName {
}

.orderGif {
  margin-top: 65px;
  width: 62%;
}

.orderTextdiv {
  padding: 14px;
  background: #eff0f4;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #bbbbbb;
  margin-top: 35px;
  font-family: "Mate SC", serif;
  font-size: 33px;
}

.orderName {
  font-size: 46px;
  text-transform: uppercase;
}

.orderTime {
  font-size: 53px;
  background: gold;
  padding: 5px;
}

/* productView */

.prodViewDiv {
  background: black;
  color: aliceblue;
}

.prodViewImg {
  width: 90%;
  height: 80vh;
}
.coomentDate {
  font-size: 7px;
  position: absolute;
}

.deleteComment {
  font-size: 7px;
  border: 1px solid;
  background: brown;
  border-radius: 7px;
}

.prodViewTittle {
  font-family: "Redressed", cursive;
  font-size: 30px;
  margin-top: 15px;
}

.prodViewPrice {
  margin-top: 30px;
}

.prodViewBtn {
  margin-top: 25px;
}

.viewBtn {
  background: coral;
}

/* .prodViewImgDiv {
  border: 5px solid;
} */

.comment {
  width: 55%;
  margin-top: 5px;
}

.commentBtn {
  margin-top: 8px;
}

.starDiv {
  align-items: center;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;

  transition: color 200ms;
  align-items: center;
}

.learning-options-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.learning-option-button {
  padding: 0.5rem;
  border-radius: 25px;
  background: transparent;
  border: 1px solid green;
  margin: 3px;
}

.link-list {
  padding: 0;
}

.link-list-item {
  text-align: left;
  font-size: 0.9rem;
}

.link-list-item-url {
  text-decoration: none;
  margin: 6px;
  display: block;
  color: #1d1d1d;
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(150, 149, 149, 0.4);
}

.WhstNewCard {
  position: relative;
  height: 90vh;
  margin-bottom: 20px;
}

.WhstNewCol {
  margin-top: 40px;
}

.WhatNewCartTitle {
  font-size: 25px;
  align-items: center;
  text-align: center;
  font-family: "Lobster", cursive;
}

.chatBotDiv {
  width: 100%;
  position: absolute;
  height: 100px;
}

.chatBotbtn {
  width: 80px;
  height: 70px;
  position: fixed;
  left: 979px;
  top: 340px;
}

.react-chatbot-kit-chat-container {
  position: fixed;
  width: 287px;
  top: 20px;
  left: 716px;
}

.react-chatbot-kit-chat-input-container {
  position: absolute;
  bottom: 60px;
  width: 100%;
  display: flex;
}

.react-chatbot-kit-chat-inner-container {
  height: 489px;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.react-chatbot-kit-chat-message-container {
  padding: 0 17.5px 10px 17.5px;
  overflow: scroll;
  height: 413px;
}

/* -----signup----- */

.login-div {
  width: 375px;
  padding: 0px 35px 35px 35px;
  margin-bottom: 15px;
  margin-top: 26px;
  margin-left: 384px;
  border-radius: 40px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.title {
  text-align: center;
  font-size: 28px;
  padding-top: 24px;
  letter-spacing: 0.5px;
}
.sub-title {
  text-align: center;
  font-size: 15px;
  padding-top: 7px;
  letter-spacing: 3px;
}

.fields {
  width: 100%;
  padding: 75px 5px 5px 5px;
}
.fields input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  padding: 20px 10px 20px 5px;
}
.username,
.password {
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.fields svg {
  height: 22px;
  margin: 0 10px -3px 25px;
}

.signin-button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #fff;
  text-align: center;
  background: #24cfaa;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: 0.5s;
}
.signin-button:hover {
  background: #2fdbb6;
}
.signin-button:active {
  background: #1da88a;
}
.link {
  padding-top: 20px;
  text-align: center;
}
.link a {
  text-decoration: none;
  color: #aaa;
  font-size: 15px;
}

/* ----------footer-------- */

.footer-section {
  width: 100%;
  height: 75px;
  padding: 5px 0px 0px 0px;
  background: #202020;
  z-index: 4;
}
.footer-section .social-media ul {
  margin-right: 40px;
}
.footer-section .social-media ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0px 5px;
}

.footer-copyright h3 {
  color: whitesmoke;
  text-align: center;
  font-size: 18px;
}

.order_list {
  background: antiquewhite;
  list-style-type: none;
  box-shadow: 2px 3px 3px saddlebrown;
  border-radius: 7px;
}

/* New Login */
.bg-img {
  background-image: url("./login.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.bg-img:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.loginContent {
  position: absolute;
  margin-top: 65px;
  height: 460px;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 35px 32px;
  width: 370px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.04);
  box-shadow: -1px 4px 28px 0px rgb(0 0 0 / 75%);
}
.loginHeader {
  color: white;
  font-size: 26px;
  font-weight: 600;
  margin: 0 0 8px 0;
  font-family: "Montserrat", sans-serif;
}
.field {
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.94);
}

.fieldBtn {
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
}

.field span {
  color: #222;
  width: 40px;
  line-height: 45px;
}
.field input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.space {
  margin-top: 16px;
}
.show {
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.pass-key:valid ~ .show {
  display: block;
}
.pass {
  text-align: left;
  margin: 10px 0;
}
.pass a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.pass:hover a {
  text-decoration: underline;
}
.fieldBtn input[type="submit"] {
  background: #100f0f;
  border-radius: 13px;
  box-shadow: 0px 3px 5px;
  width: 100%;
  /* border: 1px solid #353535; */
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.fieldBtn input[type="submit"]:hover {
  background: #1abc9c;
}
.login {
  color: white;
  margin: 20px 0;
  font-family: "Poppins", sans-serif;
}
.links {
  display: flex;
  cursor: pointer;
  color: white;
  margin: 0 0 20px 0;
}
.facebook,
.instagram {
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-left: 10px;
}
.facebook {
  margin-left: 0;
  background: #4267b2;
  border: 1px solid #3e61a8;
}
.instagram {
  background: #e1306c;
  border: 1px solid #df2060;
}
.facebook:hover {
  background: #3e61a8;
}
.instagram:hover {
  background: #df2060;
}
.links i {
  font-size: 17px;
}
i span {
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.signup {
  font-size: 15px;
  color: white;
  font-family: "Poppins", sans-serif;
}
.signup a {
  color: #3498db;
  text-decoration: none;
}
.signup a:hover {
  text-decoration: underline;
}

.eye {
  margin-top: 14px;
  margin-right: 8px;
}

@media screen and (min-width: 771px) and (max-width: 1023px) {
  .sec1Tittle {
    margin-left: 0px;
  }
  .crslsec1btn {
    margin-left: 0px;
  }
  .Sec2text {
    margin-left: 0px;
  }

  .sec2img {
    margin-left: 0px;
  }

  .checkOutTotalPrice h5 {
    font-size: 94%;
    margin-top: 3%;
  }

  .chatBotbtn {
    left: 0px;
  }

  .react-chatbot-kit-chat-container {
    left: 0px;
    width: 235px;
  }
}

@media screen and (min-width: 481px) and (max-width: 770px) {
  .sec1Tittle {
    margin-left: 0px;
    width: 100%;

    margin-top: 150px;
  }

  .sec2img {
    margin-left: 0px;
  }

  .Sec2text {
    width: 100%;
    margin-left: auto;
    color: black;
    font-weight: bold;
  }

  .T4 {
    font-size: 62px;
    font-weight: 800;
  }

  .T1 {
    font-weight: 800;
  }
}

@media screen and (min-width: 481px) and (max-width: 770px) {
  .nav {
    height: auto;
    width: 100%;
  }
  .nav .navLink {
    margin: auto;
  }

  .nav .navLink1 {
    width: 100px;
  }

  .navLink1:hover ~ .animation {
    width: 100px;
    left: 0;
    top: 0px;
  }
  nav .navLink2 {
    width: 100px;
  }
  nav .navLink2:hover ~ .animation {
    width: 100px;
    top: 50px;
    left: 0px;
  }

  nav .navLink3 {
    width: 100px;
  }
  nav .navLink3:hover ~ .animation {
    width: 100px;
    left: 0px;
    top: 100px;
  }
  nav .navLink4 {
    width: 160px;
  }
  nav .navLink4:hover ~ .animation {
    width: 100px;
    left: 0px;
    top: 150px;
  }

  .nav .navbar__link--active {
  }

  .nav .animation {
    position: absolute;
    visibility: hidden;
    height: 50px;
    margin-left: 150px;
  }
  .cartBtn {
    margin: auto;
    margin-top: 15px;
  }
  .sec2img {
    margin-left: 0px;
    width: 100%;
  }

  .Sec2text {
    width: 100%;
    margin-left: auto;
    color: black;
    font-weight: bold;
  }

  .checkOutTotal {
    width: 50%;
  }

  .checkOutTotal h5 {
    font-size: 100%;
    margin-top: 3%;
  }

  .cart {
    position: relative;
    /* bottom: 31px; */
    margin-top: -65px;
  }

  .chatBotbtn {
    left: 0px;
  }

  .react-chatbot-kit-chat-container {
    left: 0px;
    width: 235px;
  }

  .orderTextdiv {
    width: 75%;
  }
}

@media screen and (max-width: 800px) {
  .mainNav {
    display: none;
  }

  .logOutbtn {
    width: 125px;
  }
  .modal-dialog {
    margin: auto;
    max-width: 100%;
    margin-top: 55px;
  }

  .resNav {
    display: block;
  }

  .cart {
    margin: auto;
    margin-top: -75px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .sec1Tittle {
    margin-left: 0px;
  }
  .crslsec1btn {
    margin-left: 0px;
  }
  .nav {
    height: auto;
    width: 100%;
  }
  .nav .navLink {
    margin: auto;
  }

  .nav .navLink1 {
    width: 100px;
  }

  .navLink1:hover ~ .animation {
    width: 100px;
    left: 0;
    top: 0px;
  }
  nav .navLink2 {
    width: 100px;
  }
  nav .navLink2:hover ~ .animation {
    width: 100px;
    top: 50px;
    left: 0px;
  }

  nav .navLink3 {
    width: 100px;
  }
  nav .navLink3:hover ~ .animation {
    width: 100px;
    left: 0px;
    top: 100px;
  }
  nav .navLink4 {
    width: 160px;
  }
  nav .navLink4:hover ~ .animation {
    width: 100px;
    left: 0px;
    top: 150px;
  }

  .nav .navbar__link--active {
  }

  .nav .animation {
    position: absolute;
    height: 50px;
    visibility: hidden;
    margin-left: 150px;
  }
  .cartBtn {
    margin: auto;
    margin-top: 15px;
  }
  .carouselSec {
    height: 90vh;
  }

  .carousalImg {
    height: 90vh;
  }

  .sec2img {
    margin-left: 0%;
    width: 100%;
    position: relative;
  }

  .Sec2text {
    width: 100%;
    margin-left: auto;
    color: black;
    font-weight: bold;
  }

  .T4 {
    font-size: 62px;
    font-weight: 800;
  }

  .T1 {
    font-weight: 800;
  }

  .checkOutTotal {
    width: 74%;
  }
  .content-table {
    width: 100%;
  }
  .checkOutTotal h5 {
    font-size: 100%;
    margin-top: 3%;
  }

  .contact-section form {
    width: 100%;
  }

  .cart {
    position: relative;
    /* bottom: 31px; */
    margin-top: -65px;
  }

  .chatBotbtn {
    left: 0px;
  }

  .react-chatbot-kit-chat-container {
    left: 0px;
    width: 235px;
  }

  .orderTextdiv {
    font-size: 25px;
  }
}

/* signup form */
.contact-section form {
  margin: auto;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 5px 7px -3px #999;
  font-family: "Open Sans", sans-serif;
}
.contact-section form .form-control {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #b3b3b3;
  border-radius: 0px;
}
::-webkit-input-placeholder {
  font-size: 12px;
}
.contact-section form .btn {
  padding: 10px 30px;
  font-size: 14px;
  background: #e74c3c;
  border: 1px solid #e74c3c;
  color: #fff;
  box-shadow: 0px 5px 7px -3px #999;
  transition: 1s;
}
.contact-section form .btn:hover {
  background: transparent;
  border: 1px solid #e74c3c;
  color: #e74c3c;
  box-shadow: none;
}

.signupMain {
  background: linear-gradient(45deg, #ff8200, transparent);
}


/* checkemail */
.checkemailDIv{
  margin: auto;
  background: #4a4a4a;
  color: aliceblue;
  margin-top: 80px;
  margin-bottom: 39px;
  width: 75%;
  padding: 85px;
}

.checkemailCol{
  height: 80vh;
}

.checkemailLoginBtn{
  background: black;
    color: white;
    box-shadow: 0px 4px 10px;
}